<h3>Cart</h3>

<div class="cart-tems" *ngFor="let item of items">
  <span>{{item.name}}</span>
  <span>{{item.price | currency}}</span>
</div>

<a href="/shipping">Check shipping costs</a>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">Name: <input type="text" id="name" formControlName="name" /></label>
  </div>
  <div>
    <label for="address">Address: <input type="text" id="address" formControlName="address" /></label>
  </div>
  <button type="submit" class="button">Purchase</button>

</form>